:root {
    --spacegrey: rgb(40, 39, 51);
}

:root {
    background-color: var(--spacegrey);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(242, 205, 255);
}

#cards-section {
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* display: inline-block; */
    flex: 1 0 200px;
    background-image: linear-gradient(var(--spacegrey), 75%, rgb(214, 102, 255));
    margin: 10px;
    padding: 20px;
}

.card:hover {
    border: 3px solid rgb(214, 102, 255);
    padding: 15px;
}